:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-color: #DCF2F1;
  --font-color-dark: #0F1035;
  --primary-color: #365486;;
  --secondary-color: #7FC7D9;
  --tertiary-color: #0F1035;
}