.my-teacher-classes {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    width: 85rem;
}

.my-classes-heading {
    margin-bottom: 2rem;
    text-align: center;
}

.my-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
