.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    max-width: 100vw;
    overflow: hidden;
}

.navbar__logo {
    margin: 1rem;
    color: var(--font-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.google__widget{
    margin: 0  2rem 0  0;
    padding: 0.5rem;
    color: var(--font-color);
    background-color: var(--font-color);
    border-radius: 5px;
}

.navbar__logo:hover {
    color: var(--font-color-dark);
}

.navbar__nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    margin: 10px;
}

.nav__link {
    text-decoration: none;
    color: var(--font-color);
}

.nav__link:hover {
    color: var(--font-color-dark);
}

.login__button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.6rem 2rem;
    margin: 1rem;
    border: none;
    cursor: pointer;
}

.dashboard__button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.6rem 2rem;
    margin: 1rem;
    border: none;
    cursor: pointer;
}

.login__button:hover {
    background-color: var(--font-color);
    color: var(--tertiary-color);
}