.student__dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.dashboard__main {
    display: flex;
}

.dashboard__main__left {
    width: 15rem;
    height: 100vh;
    background-color: var(--font-color);
    padding: 1px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__main__right {
    width: 85rem;
    height: 100vh;
    background-color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
