.TeacherCard {
    background-color: #dee0de;
    color: black;
    border-radius: 0.6rem;
    display: flex;
    text-align: left;
    padding: 0.5rem;
    margin: 0.5rem;
}

.details {
    border-right: 2px solid black;
    padding: 0 1.5rem;
    max-width: 15rem;
    min-width: 15rem;
}

.profileImage {
    height: 10rem;
    width: 10rem;
}

.imageSection { 
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.responseButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Modal {
    width: 400px; /* Update the width to your desired size */
    height: 300px; /* Update the height to your desired size */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--font-color);
    padding: 20px;
}

.Modal textarea {
    width: 90%;
    height: 80%;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}

.Modal .submitButton {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.closeButton {
    background-color: red;
    color: var(--font-color);
    border: none;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
